@mixin cardStyleColored(){
  background: rgb(149,7,64);
  background: linear-gradient(180deg, rgba(149,7,64,1) 0%, rgba(149,7,64,1) 95%, rgba(255,255,255,1) 100%);
  color: #fff;
}
@mixin cardStyleLight(){

}


.pizzasPage .cardPizzaMenuItemHolder:nth-of-type(2n) .cardPizzaMenuItem .itemData{
  // background-color: rgba($color1, .6);
  // background-color: $color2;
  @include cardStyleColored;

  @media screen and (min-width: $md){
    background: #fff;
    color: $color2;
  }
}

.pizzasPage .cardPizzaMenuItemHolder:nth-of-type(4n) .cardPizzaMenuItem .itemData,
.pizzasPage .cardPizzaMenuItemHolder:nth-of-type(4n+1) .cardPizzaMenuItem .itemData{
  // background-color: rgba($color1, .6);
  @media screen and (min-width: $md){
    // background-color: $color2;
    @include cardStyleColored;
  }
}

.pizzasPage .cardPizzaMenuItemHolder .cardPizzaMenuItem, .cardPizzaMenuItemPizza .cardCartPart{
  border: 2px solid rgba($color2, .2);
  // border: 2px solid rgba(#000, .2);
}
